<!DOCTYPE html>
<html>

<head>
    <title>Chaotic Pendulum</title>
    <meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <noscript>Please enable JavaScript in your web browser to view this page.</noscript>
    
    <div class="main-container">

        <div class="left-side">

			<div id="control-panel">
				<button id="pause-start-btn">Start</button>
				<button id="settings-btn">Settings</button>
			</div>

            <div class="tab-buttons">
                <button id="graph-tab">Graphs</button>
                <button id="theory-tab">Theory</button>
            </div>

            <div class="tab-content">
                <div id="graph-content"> <!-- Graphs content here --> </div>
                <div id="theory-content"> <!-- Theory content here --> 
                <p>
                    Hello!
                </p>
                </div>
            </div>

        </div>

        <div class="right-side">

            <div id="pixi-content"><canvas id="pixi-canvas"></canvas></div>

        </div>
    </div>

    <div id="settings-tab">
        <!-- Sliders and text boxes for pendulum attributes -->
        <label for="angle">Angle:</label>
        <input type="range" id="angle" name="angle" min="0" max="360">
        <label for="mass">Mass:</label>
        <input type="number" id="mass" name="mass">
    </div>

</body>

</html>
