<!DOCTYPE html>
<html>

<head>
    <title>Chaotic Pendulum</title>
    <meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>

<body>
    <noscript>Please enable JavaScript in your web browser to view this page.</noscript>
    <div class="main-container">

        <div class="left-side">

            <div class="tab-buttons">
                <button id="home-button">Home</button>
                <button id="theory-tab">Theory</button>
                <button id="graph-tab">Graph</button>
                <button class="github-link">
                    <a href="https://github.com/augustryder/Chaotic-Pendulum" target="_blank">Source Code</a>
                </button>
            </div>

            <div class="tab-content">
                <div id="theory-content">
                    <section id="intro" class="theory-section">
                        <h2>Introduction</h2>
                        <p>This section explains how to use the double pendulum simulator. 
                        You can adjust initial conditions, view the real-time phase portrait, and observe how small changes can lead to chaotic behavior.</p>
                    </section>
            
                    <section id="system" class="theory-section">
                        <h2>Double Pendulum System</h2>
                        <p>The double pendulum consists of a mass m₁ suspended by a massless rod of length L₁,
                            from a fixed pivot, and a second mass m₂ suspended by a massless rod of length L₂ from m₁.
                            The equations of motion for the system will be derived using the Lagrangian formalism. 
                            We will use θ₁, the angle of m₁ relative to it's vertical, 
                            and θ₂, the angle of m₂ relative to it's vertical, as our generalized coordinates.
                            The resulting kinetic energy of the system is:
                        <div class="latex-equation">
                            $$T = \frac{1}{2}ML_1^{2}\dot{\theta_1}^{2} + \frac{1}{2}m_2L_2^{2}\dot{\theta_2}^{2} + m_2L_1L_2\dot{\theta_1}\dot{\theta_2}\cos\Delta\theta$$
                            <!-- Add more equations as needed -->
                        </div>    
                        where I have defined M = m₁ + m₂ and Δθ = θ₁ - θ₂. The potential energy of the system is:
                        <div class="latex-equation">
                            $$U = -MgL_1\cos\theta_1 - m_2gL_2\cos\theta_2$$
                            <!-- Add more equations as needed -->
                        </div> 
                        The resulting Lagrangian is then T - U:
                        <div class="latex-equation">
                            $$\mathcal{L} = \frac{1}{2}ML_1^{2}\dot{\theta_1}^{2} + \frac{1}{2}m_2L_2^{2}\dot{\theta_2}^{2} + m_2L_1L_2\dot{\theta_1}\dot{\theta_2}\cos\Delta\theta + MgL_1\cos\theta_1 + m_2gL_2\cos\theta_2$$
                            <!-- Add more equations as needed -->
                        </div> 
                        We then apply the Euler-Lagrange equation to both θ₁ and θ₂.
                        <div class="latex-equation">
                            $$\frac{\partial \mathcal{L}}{\partial \theta_i} - \frac{d}{dt} \left(\frac{\partial \mathcal{L}}{\partial \dot{\theta_i}}\right) = 0$$
                            <!-- Add more equations as needed -->
                        </div>
                        After applying and simplifying we get:
                        <div class="latex-equation">
                            $$ML_1\ddot\theta_1 + m_2L_2\ddot\theta_2\cos\Delta\theta
	                        + m_2L_2\dot\theta_2^2\sin\Delta\theta + Mg\sin\theta_1 = 0\label{eqth1}$$
                            $$L_1\ddot\theta_1\cos\Delta\theta + L_2\ddot\theta_2 -
	                        L_1\dot\theta_1^2\sin\Delta\theta + g\sin\theta_2 = 0\label{eqth2}$$
                        </div>
                        </p>
                    </section>
            
                    <section id="integrator" class="theory-section">
                        <h2>Symplectic Integrator</h2>
                        <p>A symplectic integrator is used to numerically solve the equations of motion for the double pendulum. Unlike traditional methods, it preserves the symplectic structure of Hamiltonian systems, which is crucial for long-term simulations:</p>
                        <div class="latex-equation">
                            $$ \text{New Position: } \mathbf{q}_{n+1} = \mathbf{q}_n + \Delta t \frac{\partial H}{\partial \mathbf{p}} $$
                            $$ \text{New Momentum: } \mathbf{p}_{n+1} = \mathbf{p}_n - \Delta t \frac{\partial H}{\partial \mathbf{q}} $$
                            <!-- Add more equations as needed -->
                        </div>
                    </section>
                </div>

                <div id="graph-content">
                    <div id="graph-controls">
                        <label id="x-axis">X: </label>
                        <div class="dropdown">
                            <select id="dropdown-parameters-1">
                                <option value="angle1" selected="selected">θ₁</option>
                                <option value="angle2">θ₂</option>
                                <option value="velocity1">ω₁</option>
                                <option value="velocity2">ω₂</option>
                                <option value="time">t</option>
                            </select>
                        </div>
                        <label id="y-axis">Y: </label>
                        <div class="dropdown">
                            <select id="dropdown-parameters-2">
                                <option value="angle1">θ₁</option>
                                <option value="angle2" selected="selected" >θ₂</option>
                                <option value="velocity1">ω₁</option>
                                <option value="velocity2">ω₂</option>
                                <option value="time">t</option>
                            </select>
                        </div>
                        <label id="graph-mode">Graph Type: </label>
                        <div class="dropdown">
                            <select id="dropdown-graph-mode">
                                <option value="lines" selected="selected" >Continuous</option>
                                <option value="markers">Poincaré</option>
                            </select>
                        </div>
                        <div>
                            <button id="clear-graph-btn">Clear Graph</button>
                        </div>
                        <div class="color-selector">
                            <label for="color-box">Trace Color: </label>
                            <div id="color-box" class="color-box"></div>
                            <input id="color-input" type="color" style="display:none;">
                        </div>
                    </div>
                    <div id="phase-portrait"></div>
                </div>

            </div>

        </div>

        <div class="right-side">
            <div id="control-panel">
				<button id="pause-start-btn">Pause</button>
				<button id="settings-btn">Settings</button>
                <button id="reset-btn">Reset</button>
                <div class="dropdown">
                    <select id="dropdown-presets">
                        <option value="90-90">90-90</option>
                        <option value="45-45">45-45</option>
                    </select>
                </div>
			</div>
            <div id="pixi-content"><canvas id="pixi-canvas"></canvas></div>
            <div id="settings-tab">
                <!-- Sliders and text boxes for pendulum attributes -->
                <div class="settings-row">
                    <div class="pendulum-parameter">
                        <label for="angle">θ₁ = </label>
                        <input type="number" id="angle1-number" name="angle1-number" min="-180" max="180">
                        <input type="range" id="angle1-slider" name="angle1-slider" min="-180" max="180">
                    </div>
                    <div class="pendulum-parameter">
                        <label for="velocity">ω₁ =</label>
                        <input type="number" id="velocity1-number" name="velocity1-number" min="-180" max="180">
                        <input type="range" id="velocity1-slider" name="velocity1-slider" min="-180" max="180">
                    </div>
                    <div class="pendulum-parameter">
                        <label for="length">L₁ =</label>
                        <input type="number" id="length1-number" name="length1-number" min="10" max="250">
                        <input type="range" id="length1-slider" name="length1-slider" min="10" max="250">
                    </div>
                    <div class="pendulum-parameter">
                        <label for="mass">M₁ = </label>
                        <input type="number" id="mass1-number" name="mass1-number" min="1" max="250">
                        <input type="range" id="mass1-slider" name="mass1-slider" min="1" max="250">
                    </div>
                </div>
                <div class="settings-row">
                    <div class="pendulum-parameter">
                        <label for="angle">θ₂ = </label>
                        <input type="number" id="angle2-number" name="angle2-number" min="-180" max="180">
                        <input type="range" id="angle2-slider" name="angle2-slider" min="-180" max="180">
                    </div>
                    <div class="pendulum-parameter">
                        <label for="velocity">ω₂ =</label>
                        <input type="number" id="velocity2-number" name="velocity2-number" min="-180" max="180">
                        <input type="range" id="velocity2-slider" name="velocity2-slider" min="-180" max="180">
                    </div>
                    <div class="pendulum-parameter">
                        <label for="length">L₂ =</label>
                        <input type="number" id="length2-number" name="length2-number" min="10" max="250">
                        <input type="range" id="length2-slider" name="length2-slider" min="10" max="250">
                    </div>
                    <div class="pendulum-parameter">
                        <label for="mass">M₂ = </label>
                        <input type="number" id="mass2-number" name="mass2-number" min="1" max="250">
                        <input type="range" id="mass2-slider" name="mass2-slider" min="1" max="250">
                    </div>
                </div>
                <div id="path-settings">
                    <label for="show-path">Show Path</label>
                    <input type="checkbox" id="show-path" name="show-path" checked>
                    <label for="path-length">Path Length: </label>
                    <input type="range" id="path-length" name="path-length" min="0" max="2500">
                </div>
                <div id="time-rate">
                    <label for="time-rate">Time Rate  =  </label>
                    <input type="number" id="time-rate-number" name="time-rate-number">
                    <input type="range" id="time-rate-slider" name="time-rate-slider" min="1" max="10">
                </div>
                <div id="time-step">
                    <label for="time-step">Time Step (dt)  =  </label>
                    <input type="number" id="time-step-number" name="time-step-number">
                    <input type="range" id="time-step-slider" name="time-step-slider" min="0.001" max="0.01" step="0.001">
                </div>
            </div>
        </div>
    </div>


</body>

</html>
