html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Flexbox Container */
.main-container {
    display: flex;
    height: 100vh;
}

/* Gets rid of that incrementor/decrementor on number box inputs
/* For WebKit browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* For Firefox and other browsers */
input[type="number"] {
    appearance: textfield;
}

/* LEFT SIDE LAYOUT */
.left-side {
    width: 45%;
    position: relative;
    background: #232852;
    border-right: 5px solid #6b1c1c;
}

/* Tab Bar */
.tab-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #249b95;
}
/* End Tab Bar */

/* General Tab */
.tab-content {
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    height: 100%; /* Ensures the content takes full height of the container */
    padding: 20px; /* Adjust padding as needed */
}

.tab-content > div {
    display: none;
}

.tab-content > .active {
    display: block;
}
/* End General Tab */

/* Graph Tab */
#graph-content {
    width: 100%;
    height: 100%;
    justify-content: center; /* Horizontally centers the phase portrait */
    background-color: #232852;
}

#graph-controls {
    padding: 10px;
    background-color: #5d68cf;
}

.color-selector {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.color-box {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

#phase-portrait {
    height: 83%;
    width: 100%;
    background-color: #232852;
}

/* End Graph Tab */

/* Theory Tab */
#theory-content {
    width: 100%;
    height: 95%;
    padding: 20px;
    background-color: #bab6c9;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(216, 41, 41, 0.1);
    resize: both;
    min-width: 200px;
    min-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
}

.theory-section {
    margin-bottom: 20px;
}

.theory-section h2 {
    color: #333;
    margin-bottom: 10px;
}

.latex-equation {
    background-color:  #bab6c9;
    padding: 10px;
    border-left: 5px solid #007bff;
    margin: 10px 0;
    overflow-x: auto;
}
/* End Theory Tab */

/* RIGHT SIDE LAYOUT */
.right-side {
    width: 55%;
    background: #6372c4;
    position: relative;
}

/* Control Panel */
#control-panel {
    position: absolute;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #7af08e;
}

#pause-start-btn,
#settings-btn,
#reset-btn {
    background-color: #04AA6D;
    color: white;
    padding: 3px;
    font-size: 12px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}
/* End Control Panel */

/* Settings */
#settings-tab {
    flex: 1 1 60%;
    position: absolute;
    top: 2%;
    right: 20%;
    left: 20%;
    height: 30%;
    background-color: rgba(161, 223, 231, 0.705);
    border: 5px solid rgba(161, 223, 231, 0.705);
    box-shadow: 0 5px 10px rgba(233, 0, 0, 0.5);
    display: none;
    resize: both;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.settings-row {
    display: flex;
}

.pendulum-parameter {
    position: relative;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    background-color: #8688a3;
}

.pendulum-parameter label {
    margin-left: 5px;
}

.pendulum-parameter input[type="number"] {
    padding: 2px;
    margin-top: 5px;
    background: transparent;
    border: none;
    width: 25px;
}

.pendulum-parameter input[type="range"] {
    width: 97%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #ecc69b;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#path-settings {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 100%;
    background-color: #3e8e41;
}

#path-settings label {
    margin-left: 15px;
}

#path-settings input[type="checkbox"] {
    margin-right: 15px;
    margin-left: 10px;
}

#path-settings input[type="range"] {
    margin-left: 10px;
    margin-right: 7px;
    margin-top: 5px;
    width: 50%;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #ecc69b;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#time-rate {
    display: flex;
    position: relative;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #6b1c1c;
}

#time-rate label {
    margin-left: 15px;
    margin-right: 8px;
}

#time-rate-number {
    padding: 2px;
    border: none;
    width: 40px;
    background: none;
}

#time-rate-slider {
    margin-right: 10px;
    width: 30%;
    margin-top: 5px;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #ecc69b;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#time-step {
    display: flex;
    position: relative;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #6372c4;
}

#time-step label {
    margin-left: 15px;
    margin-right: 8px;
}

#time-step-number {
    padding: 2px;
    border: none;
    width: 50px;
    background: none;
}

#time-step-slider {
    margin-right: 10px;
    width: 30%;
    margin-top: 5px;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #ecc69b;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}
/* End Settings */
