html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.main-container {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 0 1 40%;
    position: relative;
    background: #232852;
    border-right: 10px solid #6b1c1c;
}

.right-side {
    flex: 1 1 60%;
    background: #6372c4;
    position: relative;
}

.tab-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #249b95;
}

#control-panel {
    position: absolute;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #7af08e;
}

.tab-content {
    padding: 20px;
}

.tab-content>div {
    display: none;
}

.tab-content>.active {
    display: block;
}

#settings-tab {
    flex: 1 1 60%;
    position: absolute;
    top: 2%; /* Adjust as needed */
    right: 20%; 
    left: 20%;
    height: 30%; /* Fixed height */
    background-color: rgba(161, 223, 231, 0.705); /* Semi-transparent background */
    border: 5px solid rgba(161, 223, 231, 0.705); /* Border */
    box-shadow: 0 5px 10px rgba(233, 0, 0, 0.5); /* Shadow */
    display: none; /* Hidden by default */
    resize: both; /* Allow resizing */
    box-sizing: border-box; /* Include border and padding in width/height */
    min-width: 200px; /* Adjust as needed */
    min-height: 300px; /* Adjust as needed */
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
}

.settings-row {
    display: flex;
}

.pendulum-parameter {
    position: relative;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    background-color: #8688a3;
}

.pendulum-parameter label {
    margin-left: 5px;
}

.pendulum-parameter input[type="number"] {
    padding: 2px;
    margin-top: 5px;
    background: transparent;
    border: none;
    width: 40px;
}

.pendulum-parameter input[type="range"] {
    width: 97%;
    margin-bottom: 10px;
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    height: 8px;
    background: #ecc69b;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#path-settings {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 100%;
    background-color: #3e8e41;
}

#path-settings label {
    margin-left: 15px;
}

#path-settings input[type="checkbox"] {
    margin-right: 15px;
    margin-left: 10px;
}


#path-settings input[type="range"] {
    margin-left: 10px;
    margin-right: 7px;
    margin-top: 5px;
    width: 50%;
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    height: 8px;
    background: #ecc69b;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#time-rate {
    display: flex;
    position: relative;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #6b1c1c;
}

#time-rate label {
    margin-left: 15px;
    margin-right: 8px;
}

#time-rate-number {
    padding: 2px;
    border: none;
    width: 40px;
    background: none;
}

#time-rate-slider {
    margin-right: 10px;
    width: 30%;
    margin-top: 5px;
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    height: 8px;
    background: #ecc69b;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#time-step {
    display: flex;
    position: relative;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #6372c4;
}

#time-step label {
    margin-left: 15px;
    margin-right: 8px;
}

#time-step-number {
    padding: 2px;
    border: none;
    width: 50px;
    background: none;
}

#time-step-slider {
    margin-right: 10px;
    width: 30%;
    margin-top: 5px;
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    height: 8px;
    background: #ecc69b;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#pause-start-btn {
    background-color: #04AA6D;
    color: white;
    padding: 3px;
    font-size: 12px;
    border: none;
}

#settings-btn {
    background-color: #04AA6D;
    color: white;
    padding: 3px;
    font-size: 12px;
    border: none;
}

#reset-btn {
    background-color: #04AA6D;
    color: white;
    padding: 3px;
    font-size: 12px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}



